html,
body,
#root {
  height: 100vh;
}

.AppContainer {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Bahnschrift;
  background: linear-gradient(to top, rgb(59, 27, 139) 0%, rgb(141, 196, 248) 60%);
}
